/fullstack/assignments/product-manager/client/
/react/assignments/first_jsx/jsx-react/
/react/assignments/hook-form/forms-react/
/react/assignments/luke-api/luke-walker/
/react/assignments/pokemon-api/api-react/
/react/assignments/putting-it-together/react-btn/
/react/assignments/test/
/react/assignments/todo-list/todo-react/