<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Report a Sighting</title>
</head>
<body>
    <h2>Hello {{ session['user_data']['first_name'] }}</h2>
    </form>
    <a href="/dashboard">Dashboard</a>
    <form action="/users/logout" method="POST">
    <button>Logout</button>
    </form>
    <h1>Report a Sighting</h1>
    <form action="/sightings/create" method="POST">
        <div>
            <label for="location">Location:</label>
            <input type="text" name="location" id="location">
            {% for message in get_flashed_messages(category_filter=['err_sightings_location']) %}
            <p class="err-msg">{{message}}</p>
            {% endfor %}
        </div>
        <div>
            <label for="date_sighting">Date of Sighting:</label>
            <input type="date" id="date_sighting" name="date_sighting">
            {% for message in get_flashed_messages(category_filter=['err_sightings_date_sighting']) %}
            <p class="err-msg">{{message}}</p>
            {% endfor %}
        </div>
            <div>
                <label for="number">Number of Sasquatches:</label>
                <input type="number" name="number">
                {% for message in get_flashed_messages(category_filter=['err_sightings_number']) %}
                <p class="err-msg">{{ message }}</p>
                {% endfor %}
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description"></textarea>
                {% for message in get_flashed_messages(category_filter=['err_sightings_description']) %}
                <p class="err-msg">{{message}}</p>
                {% endfor %}
            </div>
        </div>
        <button type="submit">Submit</button>
</body>
</html>