<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Edit Recipe</h1>
    <form action="/recipes/{{ recipe.id }}/update" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="{{ recipe.name }}">
            {% for message in get_flashed_messages(category_filter=['err_users_name']) %}
            <p class="err-msg">{{message}}</p>
            {% endfor %}
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" value="{{ recipe.description }}"></textarea>
            {% for message in get_flashed_messages(category_filter=['err_users_description']) %}
            <p class="err-msg">{{message}}</p>
            {% endfor %}
        </div>
        <div>
            <label for="instructions">Instructions:</label>
            <textarea id="instructions" name="instructions" value="{{ recipe.instructions }}"></textarea>
            {% for message in get_flashed_messages(category_filter=['err_users_instructions']) %}
            <p class="err-msg">{{message}}</p>
            {% endfor %}
        </div>
        <div>
            <label for="date_cooked">Date Cooked:</label>
            <input type="date" id="date_cooked" name="date_cooked" value="{{ recipe.date_cooked}}">
            {% for message in get_flashed_messages(category_filter=['err_users_date_cooked']) %}
            <p class="err-msg">{{message}}</p>
            {% endfor %}
        </div>
        <div>
            <label for="under_30">Under Thirty Minutes:</label>
            <div>
                <span>Yes</span>
                {% if recipe.under_30 == 1 %}
                <input type="radio" name="under_30" id="under_30" value="1" checked>

                {% else %}
                <input type="radio" name="under_30" id="under_30" value="1">
                {% endif %}
            </div>
            <div>
                <span>No</span>
                {% if recipe.under_30 == 0 %}
                <input type="radio" name="under_30" id="under_30" value="0" checked>

                {% else %}
                <input type="radio" name="under_30" id="under_30" value="0">
                {% endif %}
            </div>
            {% for message in get_flashed_messages(category_filter=['err_users_under_30']) %}
            <p class="err-msg">{{message}}</p>
            {% endfor %}
        </div>
            <a href="/dashboard">Back to recipes</a>
            <button>Logout</button>
            <button>Submit</button>
    </form>
    
</body>
</html>