<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOW</title>
</head>
<body>
    <h2>Hello {{ session['user_data']['first_name'] }}</h2>
    <h2>Recipe {{ recipe.name}}</h2>

    <h2>Information</h2>
    <ul>
        <li>description:{{ recipe.description }}</li>
        <li>under 30 min?:{{ recipe.under_30 }}</li>
        <li>instructions:{{ recipe.instructions }}</li>
        <li>date made:{{ recipe.date_cooked }}</li>
    </ul>
    <p>Posted By: {{ recipe.recipe_owner.first_name }} {{ recipe.recipe_owner.last_name }}</p>


    <a href="/dashboard">Back to recipes</a>
    <form action="/users/logout" method="post">
        <button>Logout</button>
    </form>
</body>
</html>