<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninjas</title>
</head>
<body>
    <div>
        <h1>New Ninja</h1>
    </div>
    <div>
        <form action="/ninjas/process" method="POST">
            <label for="dojo">Dojos:</label>
            <select name="dojos_id">
                {% for dojo in all_dojos%}
                
                <option value="{{dojo.id}}">{{dojo.name}}</option>
                {% endfor %}
            </select>
            <label for="name">First Name:</label>
            <input type="text" name="first_name">
            <label for="name">Last Name:</label>
            <input type="text" name="last_name">
            <label for="age">Age:</label>
            <input type="text" name="age">
            <button>Create</button>
        </form>
        <a href="/dojos">Home</a>
    </div>
</body>
</html>